*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.FrontViwe{width: 100%; height: 500px; 
 background-repeat: no-repeat;
  background-size: cover;
  background-image:url(mainimg.PNG);
 /* background :linear-gradient(to bottom, rgba(0, 0, 0, 0.5) );*/
}


.size{
margin-top: 30px;
color: white;

} 
.fluid-container{
z-index: 2;
}
.HeadBody{
height: 50vh;
width: 90%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;

position: relative;
top: 80px;

}
.H1Heading{
color: white;
}
.cotation{
color:white;
}
.serch{
width: 70%;
height: 40px;
text-align: center;
border-radius: 20px;
border: none;
}

.contAline{
    margin-left: 10%;
margin-top: 30px;
margin-bottom: 30px;
}
/* /*relate to second page orders related */
.items{
width: 28%;
height: 50vh;
border: 1px solid rgb(209, 208, 208);
border-radius: 20px;
margin-right: 10px;


}
.orders{
background-image: url("orders.jpg");
width: 100%;
box-sizing: border-box;
height: 40vh;
background-repeat: no-repeat;
background-size: cover;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.diner{
background-image: url("diner.jpg");
width: 100%;
box-sizing: border-box;
height: 40vh;
background-repeat: no-repeat;
background-size: cover;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.night{
background-image: url("night.jpg");
width: 100%;
box-sizing: border-box;
height: 40vh;
background-repeat: no-repeat;
background-size: cover;
border-top-left-radius: 20px;
border-top-right-radius: 20px;



}


.bottom-info {
    padding-left: 20px;
}
.orders:hover {
/* width: 31%;
height: 51vh;*/
}
.bottom-info{

}
/*relate to second page orders related */


/*DIFFERENT TYPES OF PLACES*/
.baners{

width: 20%;
height: 50vh;
border: 1px solid black;
border-radius: 20px;
margin-right: 10px;
margin-top: 30px;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
/*legend css propaties*/
.them{
    background-image: url("./thems.PNG");
    background-size: cover;
}
.legend{
background-image: url("./place2.PNG");
background-size: cover;

}

.Picturesque-Cafes{
background-image: url("./cafe.PNG");
background-size: cover;

}
.open{background-image: url("./newopen.PNG");
    background-size: cover;
}
.lplaces{
font-size: 20PX;
color: white;
}
.a{color: white;}

/*legend css propaties*/



/*DIFFERENT TYPES OF PLACES*/
.local{
    display :block;

}
.showClass{
    
}

.places{

width: 30%;
height: 15vh;
background-color: rgb(224, 220, 220);
display: flex;
flex-direction: column;
justify-content: space-around;
margin: 15px 15px 15px 15px;
border-radius: 10px;
border:1px solid rgb(196, 194, 194);
text-decoration: none;
color: black;
}
.places:hover{
box-shadow: 1px 1px 1px 5px rgb(152, 214, 230) ;
}
.more-places{
    display: none;
}
.showClass:hover .more-places{
    display: block;

}


.col-3{
padding: 0px;
}  
/*DIFFERENT TYPES OF PLACES*/




/*app donlode area  */
.app-container{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 239, 241);
}
.app-img{
    width: 150px;
    height: 200px;
}
.use-donlode-app-container{
    margin-left: 40px;
    
    height: 60vh;
    width: 50%;
}
.heading{
margin-top: 50px;
margin-bottom:20px ;
}
.textid{
    margin-bottom: 25px;
    color: rgb(141, 139, 139);
}
.select-p-E{
    margin-bottom: 20px;
    color: rgb(141, 139, 139);
}
.downlode{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(141, 139, 139);
}
#inputemail{
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(182, 181, 181);
}
#shareApp{
    width: 30%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(230, 54, 54);
    border: 1px solid  rgb(182, 181, 181);
}
.donlode-opption-container{
    display: flex;
    

}
#downlodelink{
    margin-right: 10px;
    border: none;
    border-radius: 20px;

}


/*app donlode area  */


/*FOOTER SECTION*/
#f-downlodelink{
    margin-bottom: 10px;
    margin-top: 10px;

}
.footer-container{
    display: flex;
    justify-content:space-between;
    flex-grow: 2;
}
.footer{
    background-color: rgb(213, 212, 212);
    margin-top: 20px;

}
.b-f-con{
    padding-top: 20px;
}
#india{
    width: 80px;
    border: none;
    margin-right: 6px;
    border: solid rgb(170, 167, 167);
    background-color: white;
    border-radius: 5px;
}
#English{
    width: 100px;
    border: none;
    margin-right: 6px;
    border: solid rgb(205, 200, 200);
    background-color: white;
border-radius: 5px;
}
.fa-brands{
    color: rgb(26, 25, 25);
    font-size: larger;
}
.h5tag{
    color: black;
}
.textcolor-m{
    color: rgb(126, 125, 125);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.textcolor:hover{
    color:rgb(16, 16, 16)

}

/*FOOTER SECTION*/



/*INDEX2.HTML IS STATED */
.inputfild-serch{
    margin-left: 60px;
    margin-top: 15px;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: non;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(175, 175, 175) ,5px 5px 5px rgb(175, 175, 175);
    
}
.data{
    margin-top: 25px;
}
/*second bar for D D N  */
.containers{
    margin-top: 60px;
    width: 50%;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(173, 173, 173);
}
.menu2{
    display: flex;
}
.heaing-index2{
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
.GACHIBOWLI{
    margin-top: 50px;
    margin-left: 50px;
}

/*second bar for D D N  */


/*gachibowli*/

/*FOOD ITEMS OR COLLECTION OF FOOD ITEMS IN EACH PLACE */
.FooD-Items{
    width: 25%;
    height: 60vh;
    margin-right: 90px;
}
.FooD-Items:hover{
    border: none;
    box-shadow: -5px -5px 7px 1px rgb(213, 211, 211) ,5px 5px 7px 1px rgb(219, 217, 217);
    background-color: white;

}
.FOOd-CON{
    margin-left:10% ;
    margin-top: 30px;
}
.FOODITEM{
    width: 100%;
    height: 70%;
    margin-top: 10px;
}
.Mehfil-R{
    background-image: url("mehfil.PNg");
    background-size: cover;
}
.paradise {
    background-image: url("paradise.PNG");
    background-size: cover;

}
.kfc{
    background-image: url("kfc.PNG");
    background-size: cover;

}
.Hitech{
    background-image: url("hitachi.PNG");
    background-size: cover;

}
.Pista{
    background-image: url("subyya.PNG");
    background-size: cover;

}
.green{

    background-image: url("green.PNG");
    background-size: cover;
}
.rows{
    margin-top: 100px;
}
.place-con{
    display: flex;
justify-content: space-between;
}
.placehader{
    font-size: 20px;
}
.rating{
    width: 40px;
    height: 20px;
    background-color: rgb(30, 151, 30);
    text-align: center;
    color: white;
    border-radius: 3px;
   margin-top: 10px;
   padding-bottom: 20px;
}
.fa-star{
    font-size: 12px;
    color: white;
}
.text-over{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.footer-place{
    display: flex;
}
/*FOOD ITEMS OR COLLECTION OF FOOD ITEMS IN EACH PLACE */

/*/*gachiboili*/
/*INDEX2.HTML IS ENDED */


/*JUBLIEEHILLS*/
.KFC{
    background-image: url("KFC2.PNG");
    background-size: cover;
}
.Mehfil-R2{
    background-image: url("MEHFIL2.PNG");
    background-size: cover;
}
.paradise2{
    background-image: url("PARADISE2.PNG");
    background-size: cover;
}
.Kritunga{
    background-image: url("KRITUNGA.PNG");
    background-size: cover;
}
.Lucky{
    background-image: url("LUCKY2.PNG");
    background-size: cover;
}
.Biryani{
    background-image: url("BIRYANI2.PNG");
    background-size: cover;
}

/*JUBLIEEHILLS*/

/*BANJARAHILLS*/
.KFC3{
    background-image: url("KFC2.PNG");
    background-size: cover;
}
.Mehfil-R3{
    background-image: url("MEHFIL2.PNG");
    background-size: cover;
}
.paradise3{
    background-image: url("paradise.PNG");
    background-size: cover;
}
.Pista3{
    background-image: url("PISTA.PNG");
    background-size: cover;

}
.Lucky3{
    background-image: url("LUCKY3.PNG");
    background-size: cover;
}
.Bryani3{
    background-image: url("RAJU.PNG");
    background-size: cover;
}
/*BANJARAHILLS*/
/*HITECH CITY*/
.Millet{
    background-image: url("Millet.PNG");
    background-size: cover;
}
.Sitara{
    background-image: url("Sitara.PNG");
    background-size: cover;
}
.Chutneys{
    background-image: url("Chutneys.PNG");
    background-size: cover;
}
/*HITECH CITY*/



/*====================================MEHFIL==================================================*/
.Mehfil-photo-img-front{
    width: 100%;
    height: 80vh;
    margin-top: 50px;
    margin-bottom: 20px;
}
.width-incred{
    width: 100%;
    height: 60vh;
}

.INCREASING-THE-FONT-SIZE{
    font-size: 30px;
}
/*ONLINE-ORDARING-MENU BAR*/
.ONLINE-ORDARING-MENU-BAR{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}
.line{
    width: 100px;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(242, 51, 34);
 display: block;
}
    .ONLINE-ORDARING-MENU-BAR:hover .line{
        display: block;
        animation-name:lines ;
        animation-timing-function: linear;
        animation-iteration-count: 2s;
        animation-duration: 0.5s;
    }
    @keyframes lines{
        0%{width:0%;}
        
        20%{width: 4%;}
        40%{width: 8%;}
        60%{width: 12%;}
        80%{width: 16%;}
        90%{width: 20%;}
        100%{width: 24%;}
        

    }
    .grid-container{
        display: grid;
        grid-template-columns: 0.2fr 0.0fr 2fr;

    }
    
.item1{
    width: 100%;
    height: 100vh;

}
.item2{
    width: 100%;
    height: 100vh;
 
}

.item3{
    width: 100%;
    height: 100vh;
    
}
 .fa-sharp{
    color: yellow;
 }
 #sell{
    width: 100px;
    height: 30px;
    background-color: rgb(236, 132, 67);
 }
 .con-for-food-item{
    display: flex;
    margin-top: 30px;
 }
 .food-img1{

    width: 150px;
    height: 150px;
    background-image: url("M-f1.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img2{

    width: 150px;
    height: 150px;
    background-image: url("M-f2.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img3{

    width: 150px;
    height: 150px;
    background-image: url("M-f3.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img4{

    width: 150px;
    height: 150px;
    background-image: url("M-f4.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img5{

    width: 150px;
    height: 150px;
    background-image: url("M-f5.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img6{

    width: 150px;
    height: 150px;
    background-image: url("M-f6.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img7{

    width: 150px;
    height: 150px;
    background-image: url("M-f7.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img8{

    width: 150px;
    height: 150px;
    background-image: url("M-f8.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img9{

    width: 150px;
    height: 150px;
    background-image: url("M-f9.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img10{

    width: 150px;
    height: 150px;
    background-image: url("M-f10.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img11{

    width: 150px;
    height: 150px;
    background-image: url("M-f11.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img12{

    width: 150px;
    height: 150px;
    background-image: url("M-f12.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img13{

    width: 150px;
    height: 150px;
    background-image: url("M-f13.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img14{

    width: 150px;
    height: 150px;
    background-image: url("M-f14.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img15{

    width: 150px;
    height: 150px;
    background-image: url("M-f15.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img16{

    width: 150px;
    height: 150px;
    background-image: url("M-v1.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img17{

    width: 150px;
    height: 150px;
    background-image: url("M-v2.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img18{

    width: 150px;
    height: 150px;
    background-image: url("M-v3.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }
 .food-img19{

    width: 150px;
    height: 150px;
    background-image: url("M-v4.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }

 .food-img20{

    width: 150px;
    height: 150px;
    background-image: url("M-v6.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }

 .food-img21{

    width: 150px;
    height: 150px;
    background-image: url("M-v7.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }

 .food-img22{

    width: 150px;
    height: 150px;
    background-image: url("M-v8.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }

 .food-img23{

    width: 150px;
    height: 150px;
    background-image: url("M-v9.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }

 .food-img24{

    width: 150px;
    height: 150px;
    background-image: url("M-v10.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }

 .food-img25{

    width: 150px;
    height: 150px;
    background-image: url("M-v11.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }

 .food-img26{

    width: 150px;
    height: 150px;
    background-image: url("M-v12.PNG");
    background-size: cover;
    margin-right: 30px;
    border-radius: 5px;

 }

 
/*ONLINE-ORDARING-MENU BAR*/
 /*====================================MEHFIL==================================================*/
 